/* Colors */

$bg-white: #EFEFEF;
$main: #E92569;
$text-grey: #767676;
$text-black: #0A0A0A;

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

$font-special: 'Playfair Display', serif;
$font-basic: 'Lato', sans-serif;